{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/css/style.css">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {% if main_lang == "en" %}
            {{ form.answer.label(style="font-size: 20px;") }}
        {% else %}
            <p style="font-size: 20px;">О т в е т:</p>
        {% endif %}
        {{ form.answer(class="form-control", style="width: 94%; height: 300px;", type="string") }}<br>
        {% for error in form.answer.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    {% if main_lang == "en" %}
        <p>{{ form.submit(type="submit", style="font-family: FF Trixie;",
            class="btn btn-primary") }}</p>
    {% else %}
        <p>{{ form.submit_rus(type="submit", style="font-family: FF Trixie;",
            class="btn btn-primary") }}</p>
    {% endif %}
    {{message}}
</form>
{% else %}
{% if main_lang == "en" %}
    <div>To answer the question, you must register!</div>
{% else %}
    <div>Для ответа на вопрос, вы должны зарегистрироваться!</div>
{% endif %}
{% endif %}
{% endblock %}
