<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>MateSearch</title>
    {% block head %}{% endblock %}
</head>
<body style="background-color: {{main_color}}">
<div style="margin-right: 5%; margin-left: 5%;">
    <nav style="padding-bottom: 70px; border-radius: 10px;"
         class="navbar navbar-light bg-{{colors}}">
        <a style="font-size: 30px; color: white; margin-left: auto; margin-right: auto;
             padding-right: 17px; padding-left: 17px; border: 1px solid white;"
           class="navbar-brand" href="/">MateSearch</a>
    </nav>
    {% if current_user.is_authenticated %}
    <div class="row" style="margin-right: 10px;">
        <a id="loginOrRegistration" class="navbar-brand text-{{colors}}"
           style="padding-left: 18px; padding-right: 18px; margin-left: auto;"
           href="/profile/{{ current_user.id }}">{{current_user.name}}</a><a href="/notifications"
                                                      class="row"
                                                      style="margin-top: 5px;
                                                      margin-right: 5px;
                                                      margin-left: 5px; text-decoration: none;">
        <span>&#x1F514;</span></a></div>

    {% else %}
    <div class="row" style="margin-right: 10px;">
        <p style="display: flex; margin-left: auto;">
            <a id="loginOrRegistration" class="btn" href="/register">Registration</a>
            <a id="loginOrRegistration" class="btn" href="/login">Login</a>
        </p>
    </div>
    {% endif %}
</div>
<div style="display: flex;">
    <div style="margin-left: 4%;">
        <div class="btn btn-group-vertical">
            {% if current_user.is_authenticated %}
                <a style="font-size: 20px; color: white;" href="/searchmates/csgo" class="btn btn-{{colors}}
                bg-{{colors}}">CS:GO</a>
                <a style="font-size: 20px; color: white;" href="/searchmates/dota2" class="btn btn-{{colors}}
                bg-{{colors}}">Dota 2</a>
                <a style="font-size: 20px; color: white;" href="/searchmates/minecraft" class="btn btn-{{colors}}
                bg-{{colors}}">Minecraft</a>
                <a style="font-size: 20px; color: white;" href="/searchmates/gta_online" class="btn btn-{{colors}}
                bg-{{colors}}">GTA online</a>
                <a style="font-size: 20px; color: white;" href="/searchmates/pubg" class="btn btn-{{colors}}
                bg-{{colors}}">PUBG</a>
                <a style="font-size: 20px; color: white;" href="/searchmates/paladins" class="btn btn-{{colors}}
                bg-{{colors}}">Paladins</a>
                <a style="font-size: 20px; color: white;" href="/searchmates/fortnite" class="btn btn-{{colors}}
                bg-{{colors}}">Fortnite</a>
            {% endif %}
            {% if main_lang == "en" %}
                <a style="font-size: 20px; color: black;" class="btn btn-{{colors}} bg-{{colors}}
                bg-light" href="/forum">Forum</a>
                {% if current_user.is_authenticated %}
                <a style="font-size: 20px; color: black;" class="btn btn-{{colors}} bg-{{colors}}
                bg-light" href="/chat">Chat</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a style="font-size: 20px; color: black;" class="btn btn-{{colors}} bg-{{colors}}
                bg-light" href="/friends">Friends</a>
                {% endif %}
                {% if current_user.role == "admin" %}
                    <a style="font-size: 20px; color: black;" href="/redefine_role" class="btn btn-{{colors}}
                bg-light">Redefine roles</a>
                {% endif %}
                <a style="font-size: 20px; color: black;" href="/api"
                   class="btn btn-{{colors}} bg-{{colors}} bg-light">API</a>
                {% if current_user.is_authenticated %}
                <a style="font-size: 20px; color: black;" href="/settings" class="btn btn-{{colors}}
                bg-light">Settings</a>
                {% endif %}
            {% else %}
                <a style="font-size: 20px; color: black;" class="btn btn-{{colors}} bg-{{colors}}
                bg-light" href="/forum">Форум</a>
                {% if current_user.is_authenticated %}
                <a style="font-size: 20px; color: black;" class="btn btn-{{colors}} bg-{{colors}}
                bg-light" href="/chat">Чат</a>
                {% endif %}
                {% if current_user.role == "admin" %}
                    <a style="font-size: 20px; color: black;" href="/redefine_role" class="btn btn-{{colors}}
                bg-light">Переопределение ролей</a>
                {% endif %}
                <a style="font-size: 20px; color: black;" href="/api"
                   class="btn btn-{{colors}} bg-{{colors}} bg-light">API</a>
                {% if current_user.is_authenticated %}
                <a style="font-size: 20px; color: black;" href="/settings" class="btn btn-{{colors}}
                bg-light">Настройки</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>
