{% extends "base.html" %}

{% block head %}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
        charset="utf-8"></script>
<script charset="UTF-8" type="text/javascript" src="static/script/script1.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"
        charset="utf-8"></script>
<meta name="http-equiv" content="Content-type: text/html; charset=UTF-8">
<meta charset="UTF-8">
{% endblock %}

{% block content %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

	var socket = io.connect('http://127.0.0.1:5000');
	var url = $('#url').attr("data-place")

	socket.on('connect', function() {
		socket.send('User has connected!');
	});

	socket.on('message', function(msg) {
		$("#messages").append('<li>'+msg+'</li>');
		console.log('Received message');
	});

	$('#sendbutton').on('click', function() {
		socket.send($('#myMessage').val() + "_<}]:;,.!$?$?!.,;:[{>_" + url);
		$('#myMessage').val('');
	});

});

</script>
<div style="overflow-y: scroll; background-color: lightgrey;" class="h-50">
    <ul id="messages">
    </ul>
</div>
<p style="display: flex">
    <input type="text" id="myMessage" class="form-control">
    <button id="sendbutton" class="btn btn-info">Send</button>
</p>
<div data-place="{{ url }}" id="url"></div>
{% endblock %}
