{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
        charset="UTF-8"></script>
<script charset="UTF-8" type="text/javascript" src="static/script/script1.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"
        charset="UTF-8"></script>
<meta name="http-equiv" content="Content-type: text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{% endblock %}

{% block content %}
<script type="text/javascript" charset="UTF-8">
$(document).ready(function() {

	var socket = io.connect('http://127.0.0.1:5000');
	var url = $('#url').attr("data-place")
	var block = document.getElementById("chat_area");

	socket.on('message', function(msg) {
	    var mess = msg.split("_<}]:;,.!$?$228?!.,;:[{>_")
		$("#messages").append('<tr><td><a>'+mess[1]+'<br></a><a style="font-size: 16pt;">'+mess[0]+'</a></td></tr>');
		console.log('Received message');
		block.scrollTop = block.scrollHeight;
	});

	$('#sendbutton').on('click', function() {
		socket.send($('#myMessage').val() + "4a96a813f286fb923b0b4ead19e0052c3ddc1c36" + url);
		$('#myMessage').val('');
	});

});

</script>
<div style="overflow-y: scroll; background-color: lightgrey; max-height: 895px; margin-top: 8px"
     class="h-50" id="chat_area">
    <table id="messages">
        {% for message in chat %}
        <tr>
            <td><a>{{ message[1] }}<br></a><a style="font-size: 16pt;">{{ message[2] }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<p style="display: flex">
    <input type="text" id="myMessage" class="form-control">
    <button id="sendbutton" class="btn btn-info">Send</button>
</p>
<div data-place="{{ url }}" id="url"></div>
{% endblock %}
