{% extends "base.html" %}

{% block content %}

        <a href="/forum/ask_question" class="btn btn-{{colors}}"
           style="margin-top: 9px;">{% if main_lang == "en" %}
            Ask a question
        {% else %}Задать вопрос {% endif %}</a><br>
    {% for item in forum_questions %}
        {% set id_new = item.id %}
            {% if current_user.role == "cleaner" or current_user.role == "admin" %}
                <div style="margin-top: 20px;">
                    <a href="/question_delete/{{ item.id }}"><img width="3%"
                                                          height="6%"
                                                          src="static/img/delete_button.png"></a>
                </div>
            {% endif %}
        <a style="text-decoration: none;" href="/forum/question/{{ item.id }}">
            <div style="margin-top: 10px; background-color: #f5f5f5;
        margin-right: 40px; padding-left: 10px;
                 padding-top: 20px; padding-bottom: 40px;"
             class="col-md6 border rounded">
            <div style="padding-top: 20px; padding-left: 40px;">
                <h4>{{item.title}}</h4>
            </div>
        </div></a>
    {% endfor %}
{% endblock %}
