{% extends "base.html" %}


{% if num != 1 %}
    {% block head %}
        <link rel="stylesheet" href="../static/css/style.css">
    {% endblock %}
{% endif %}

{% block content %}
{% for item in news %}
    {% if item.id < counter_1 and item.id > counter_2 %}
        <div style="margin-top: 38px; background-color: #f5f5f5;
        margin-right: 40px; padding-left: 10px;
                 padding-top: 10px; padding-bottom: 40px;"
             class="col-md6 border rounded">
            {% if current_user.role == "cleaner" or current_user.role == "admin" %}
                <a href="/news_delete/{{ item.id }}"><img width="3%"
                                                          height="3%"
                                                          src="static/img/delete_button.png"></a>
            {% endif %}
            <div style="padding-top: 20px; padding-left: 40px;">
                <h4>{{item.title}}</h4>
                <h6>{{item.content}}</h6>
            </div>
        </div>
    {% endif %}
{% endfor %}
<div style="display: flex;">
    <p style="margin-left: 30%;"><a style="margin-top: 40px; margin-bottom: 40px;"
                                    href="/page/{{back_page}}" class="btn btn-{{colors}}">
        Previous page</a></p>
    <p style="margin-left: 20%;"><a style="margin-top: 40px; margin-bottom: 40px;"
                                    href="/page/{{next_page}}" class="btn btn-{{colors}}">
        Next page</a></p>
</div>
{% endblock %}
