{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}
{% for item in notifications %}
    {% if item[1] == 0 %}
        <p>{% if main_lang == "en" %}A user with a nickname {{ item[0].name }}
            sent you a friend request{% else %}Пользователь с ником {{ item[0].name }}
            отправил вам запрос дружбы{% endif %}</p>
        <a class="btn btn-warning" href="/add_to_friend/{{ item[2] }}/{{ item[0].id }}" style="font-size: 16pt;">
            {% if main_lang == "en" %}Add to friend{% else %}Добавить в друзья{% endif %}</a>
<a class="btn btn-warning" href="/clean_notifications/{{ current_user.id }}/{{ item[0].id }}/{{ item[1] }}/{{ item[2] }}" style="font-size: 16pt;">
    {% if main_lang == "en" %}Not add to friend{% else %}Не добавлять в друзья{% endif %}</a>
    {% elif item[1] == 1 %}
        <p>{% if main_lang == "en" %}Have you played with a user with the nickname:
            {{ item[0].name }}{% else %}Вы играли с пользователем с таким ником:{{ item[0].name }}{% endif %}</p>
        <a class="btn btn-warning" href="/edit_reputation/{{ current_user.id }}/{{ item[2] }}/{{ item[0].id }}" style="font-size: 16pt;">
            {% if main_lang == "en" %}YES{% else %}ДА{% endif %}</a>
        <a class="btn btn-warning" href="/clean_notifications/{{ current_user.id }}/{{ item[0].id }}/{{ item[1] }}/{{ item[2] }}" style="font-size: 16pt;">
            {% if main_lang == "en" %}NO{% else %}НЕТ{% endif %}</a>
    {% endif %}
{% endfor %}
<a style="font: 18pt;">{{ message }}</a>
{% endblock %}
