{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}
<div class="border border-left border-right border-top border-bottom border-{{ colors }} border-rounded">
    <p style="font-size: 20pt; margin: 10px;">
        <img class="img-fluid rounded-circle" src="{{ user.avatar }}" alt="" height="250"
             width="250" vspace="5"
             hspace="5" align="left" style="margin-right: 20px;">
        {% if main_lang == "en" %}
        Nik: {{ user.name }}<br>
        Role: {{ user.role }}<br>
        Favorite games: {{ user.favorite_games }}<br>
        Reputation: {{ user.reputation }}<br>
        {% else %}
        Ник: {{ user.name }}<br>
        Роль: {{ user.role }}<br>
        Любимые игры: {{ user.favorite_games }}<br>
        Репутация: {{ user.reputation }}<br>
        {% endif %}
        {% if current_user.id == user.id %}
        <a class="btn btn-warning" href="/edit_profile" style="font-size: 16pt;">{% if main_lang == "en" %}
            Edit profile{% else %}Изменить профиль{% endif %}</a>
        <a class="btn btn-danger" href="/logout" style="font-size: 16pt;">{% if main_lang == "en" %}
            Exit{% else %}Выйти{% endif %}</a>
        {% else %}
        {% if ocenka_reputacii %}
        <a class="btn btn-success" href="/edit_reputation/{{ user.id }}/0/{{ current_user.id }}" style="font-size: 16pt;">
            {% if main_lang == "en" %}Like{% else %}Нравится{% endif %}</a>
        <a class="btn btn-danger" href="/edit_reputation/{{ user.id }}/1/{{ current_user.id }}" style="font-size: 16pt;">
            {% if main_lang == "en" %}Report{% else %}Пожаловаться{% endif %}</a>
        {% endif %}
        {% if dobavlenie_v_druzya %}
        <a class="btn btn-warning" href="/add_to_friend/{{ user.id }}/{{ current_user.id }}" style="font-size: 16pt;">
            {% if main_lang == "en" %}Add to friend{% else %}Добавить в друзья{% endif %}</a>
        {% endif %}
        {% if udalenie_iz_druzey %}
        <a href="/unfriend/{{ current_user.id }}/{{ user.id }}/profile_{{ user.id }}"><img src="/static/img/delete_button.png" class="round"
                                          alt="" height="50" width="50" style="margin-right: 20px; margin-left: 20px;">Unfriend</a>
        {% endif %}
        {% endif %}
        <br>
        <br>
        <br>
    </p>
</div>
{% endblock %}
