{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}
<div class="border border-left border-right border-top border-bottom border-{{ colors }} border-rounded">
    <p style="font-size: 20pt; margin: 10px;">
        <img class="img-fluid rounded-circle" src="{{ user.avatar }}" alt="" height="250"
             width="250" vspace="5"
             hspace="5" align="left" style="margin-right: 20px;">
        Nik: {{ user.name }}<br>
        Role: {{ user.role }}<br>
        Favorite games: {{ user.favorite_games }}<br>
        Reputation: {{ user.reputation }}<br>
        {% if current_user.id == user.id %}
        <a class="btn btn-warning" href="/edit_profile" style="font-size: 16pt;">Edit profile</a>
        {% else %}
        {% if ocenka_reputacii %}
        <a class="btn btn-success" href="/edit_reputation/{{ user.id }}/0/{{ current_user.id }}" style="font-size: 16pt;">
            Like</a>
        <a class="btn btn-danger" href="/edit_reputation/{{ user.id }}/1/{{ current_user.id }}" style="font-size: 16pt;">
            Report</a>
        {% endif %}
        {% if dobavlenie_v_druzya %}
        <a class="btn btn-warning" href="/add_to_friend/{{ user.id }}/{{ current_user.id }}" style="font-size: 16pt;">Add to friend</a>
        {% endif %}
        {% endif %}
        <br>
        <br>
        <br>
    </p>
</div>
{% endblock %}
