{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block content %}
<h1 style="text-align: center;">CS:GO</h1>
<div class="container" style="display: flex;">
    <a style="margin-top: 40px; margin-right: 20px;" href="/searchmates/CS_GO/match_making">
        <img src="../static/img/csgo_workmates_2x2.jpg">
    </a>
    <a style="margin-top: 40px;" href="/searchmates/CS_GO/match_making">
        <img src="../static/img/csgo_matchmaking_5x5.jpg">
    </a>
</div>
{% endblock %}
