{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
<meta http-equiv="Refresh" content="15" />
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
        charset="utf-8"></script>
<style>
    .show_okno{
    display: inline-block;
    outline: none;
    text-decoration: none;
    font-size: 20pt;
    }

</style>
{% endblock %}

{% block content %}
{% if main_lang == "ru" %}
    <div style="margin-top: 20px; margin-bottom: 40px; margin-right: auto; margin-left: auto; width: 50%;">
        <a style="margin-right: 40px;" class="btn btn-primary"
           href="/searchmates/{{ name_game }}/{{ type_game }}">Доска</a>
        <a class="btn btn-success" href="/chats_in_search/{{ name_game }}/{{ type_game }}">Чаты</a>
    </div>
{% else %}
    <div style="margin-top: 20px; margin-bottom: 40px; margin-right: auto; margin-left: auto; width: 50%;">
        <a style="margin-right: 40px;" class="btn btn-primary"
           href="/searchmates/{{ name_game }}/{{ type_game }}">Desk</a>
        <a class="btn btn-success" href="/chats_in_search/{{ name_game }}/{{ type_game }}">Chats</a>
    </div>
{% endif %}
<script type="text/javascript">
$(document).ready(function() {

    var count = 0

    $(".show_okno").click(function() {
        var okno_id = $("#" + $(this).attr("rel"));
        if (count % 2 == 0) {
            $(okno_id).show();
            count = count + 1
        } else {
            $(okno_id).hide();
            count = count + 1
        }
    });
});

</script>
<table class="table">
    <thead>
    <tr style="font-size: 18pt;">
        {% if main_lang == "en" %}
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Reputation</th>
        {% else %}
            <th scope="col">Номер</th>
            <th scope="col">Имя</th>
            <th scope="col">Репутация</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for mate in mates %}
    {% if mates[loop.index0][3] != current_user.id %}
    <tr style="font-size: 18pt;">
        <th scope="col">{{ loop.index }}</th>
        <td>
            <button class="show_okno btn btn-outlin" rel="okno{{ loop.index0 }}"
                    style="text-decoration: none;">
                    <pre><img class="round" src="{{ mates[loop.index0][2] }}" alt="" height="50"
                              width="50"> {{ mates[loop.index0][0] }}
                    </pre>
            </button>
        </td>
        <td>
            {% if mates[loop.index0][1] <= 10 %}
            <span>&#x1F5A4;</span>
            {% elif 10 < mates[loop.index0][1] <= 20 %}
            <span>&#x1F494;</span>
            {% elif 20 < mates[loop.index0][1] <= 30 %}
            <span>&#x2764;</span>
            {% elif 30 < mates[loop.index0][1] <= 45 %}
            <span>&#x1F9E1;</span>
            {% elif 45 < mates[loop.index0][1] <= 60 %}
            <span>&#x1F49B;</span>
            {% elif 60 < mates[loop.index0][1] <= 75 %}
            <span>&#x1F499;</span>
            {% elif 75 < mates[loop.index0][1] <= 90 %}
            <span>&#x1F49C;</span>
            {% elif 90 < mates[loop.index0][1] %}
            <span>&#x1F49A;</span>
            {% endif %}
            <div id="okno{{ loop.index0 }}"
                 style="width: 300px; height: 50px; text-align: center; padding: 15px; color: #0000cc; display: none;">
                <a href="/profile/{{mates[loop.index0][3]}}" class="btn btn-success">
                    {% if main_lang == "en" %}View profile{% else %}Посмотреть профиль{% endif %}
                </a><a href="/chats/{{current_user.id}}/{{mates[loop.index0][3]}}"
                                  class="btn btn-warning">{% if main_lang == "en" %}
                Start a chat{% else %}Перейти к чату{% endif %}</a>
            </div>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
