{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block content %}
{% if game == "csgo" %}
    <h1 style="text-align: center;">CS:GO</h1>
    <div class="container" style="display: flex;">
        <a style="margin-top: 40px; margin-right: 20px;" href="/searchmates/CS_GO/match_making">
            <img src="../static/img/csgo_workmates_2x2.jpg">
        </a>
        <a style="margin-top: 40px;" href="/searchmates/CS_GO/match_making">
            <img src="../static/img/csgo_matchmaking_5x5.jpg">
        </a>
    </div>
{% elif game == "dota2" %}
    <h1 style="text-align: center;">DOTA 2</h1>
{% elif game == "trove" %}
    <h1 style="text-align: center;">TROVE</h1>
{% elif game == "gta_online" %}
    <h1 style="text-align: center;">GTA ONLINE</h1>
{% elif game == "pubg" %}
    <h1 style="text-align: center;">PUBG</h1>
{% elif game == "paladins" %}
    <h1 style="text-align: center;">PALADINS</h1>
{% elif game == "fortnite" %}
    <h1 style="text-align: center;">FORTNITE</h1>
{% endif %}
{% endblock %}
